html {
  box-sizing: border-box;
  font-family: " Open Sans ", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: center;
  max-height: 500px;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

h1 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
}

.img-flex {
  position: absolute;
  bottom: 11.5em;
  width: 100%;
  max-width: 50em;
  display: block;
}

.img-flex h1, .img-flex p {
  margin: 0;
}

p {
  font-style: italic;
  font-size: 2rem;
}
